{%extends 'base.html'%}
{%block content%}
<section>
    <h3>All Accounts</h3>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th colspan="2">Actions</th>
            </tr>
            {% for account in all_accounts%}
            <tr>
                <td>{{account.name}}</td>
                <td>{{account.description}}</td>
                <td><a href="/accounts/{{account.id}}/edit">Edit</a></td>
                <td><a href="/accounts/{{account.id}}/delete">Delete</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</section>
{%endblock%}