{%extends 'base.html'%}
{%block content%}
<section>
    <h3>All merchants</h3>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th colspan="2">Actions</th>
            </tr>
            {% for merchant in all_merchants%}
            <tr>
                <td>{{merchant.name}}</td>
                <td>{{merchant.description}}</td>
                <td><a href="/merchants/{{merchant.id}}/edit">Edit</a></td>
                <td><a href="/merchants/{{merchant.id}}/delete">Delete</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</section>
{%endblock%}