{%extends 'base.html'%}
{%block content%}
<section>
    <h2>
        <p>Edit transaction</p>
    </h2>
    <form action="/transactions/{{transaction.id}}" method="POST">
        <table>
            <tr>
                <td>
                    <label for="amount">Amount:</label>
                </td>
                <td>
                    <input type="number" step=".01" id="amount" name="amount" value="{{transaction.amount}}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="date">Date:</label>
                </td>
                <td>
                    <input type="date" id="date" name="date" value="{{transaction.date}}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description">Description:</label>
                </td>
                <td>
                    <input type="text" id="description" name="description" value="{{transaction.description}}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="account">Account</label>
                </td>
                <td>
                    <select name="account_id" id="account">
                        {% for account in all_accounts %}
                        <option value="{{account.id}}" {% if transaction.account.id==account.id %} selected="selected"
                            {% endif %}>
                            {{account.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="merchant">Merchant</label>
                </td>
                <td>
                    <select name="merchant_id" id="merchant">
                        {% for merchant in all_merchants %}
                        <option value="{{merchant.id}}" {% if transaction.merchant.id==merchant.id %}
                            selected="selected" {% endif %}>{{merchant.name}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit">Update transaction</button>
    </form>
</section>



{%endblock%}